<html>
    <head>
        <title>Usage for Fibonacci app</title>
    </head>
    <body>
        <h1>How to use the Fibonacci web app</h1>
        <p><font size="3" color="red">{{ msg }}</font></p>
        <p>Hello and welcome to this web app, which calculates a series of Fibonacci numbers.</p>
        <p>To use the app, just add the number of Fibonacci numbers you want to calculate to the end of the above url. <br>
        i.e.:  &lt;domain&gt;/fib/&lt;num&gt;</p>
        <p>where "&lt;domain&gt;" is the domain and "&lt;num&gt;" is the number of Fibonacci numbers you want to see.</p>
        <p>Alternatively, you can see a <a href="test_script.html">sample test script</a>.</p>
        <br>
        <p>Enjoy!</p>
    </body>
</html>